<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @concert.artist %>
</p>

<p>
  <strong>Date:</strong>
  <%= @concert.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @concert.start_time %>
</p>

<p>
  <strong>Finish time:</strong>
  <%= @concert.finish_time %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @concert.cost %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
